@import "../colors.css";

:root {
  --balance-border-bottom: 1px solid var(--color-light-steel-200);
  --balance-list-margin: 0;
  --balance-list-padding: 0;
  --balance-list-margin-top: 24px;
  --balance-list-item-padding: 15px;
  --balance-list-item-border-top: 1px solid rgba(var(--color-light-greenish-100), 0.1);
  --balance-text-last-child-margin-top: 16px;
  --balance-text-last-child-margin-bottom: 16px;
  --balance-text-font-size: 12px;
  --balance-text-color: var(--color-white);
  --balance-text-text-transform: uppercase;
  --balance-text-maring: 0;
  --balance-text-last-child-font-size: 24px;
  --balance-small-font-size: 16px;
}
