@import "../colors.css";
@import "./properties.css";
@import "./sidebar-header.css";
@import "./sidebar-content.css";
@import "./sidebar-link.css";

.sidebar,
.sidebar * {
  box-sizing: border-box;
}

.sidebar {
  background-color: var(--sidebar-background-color);
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: var(--sidebar-width);
}

.section {
  height: var(--sidebar-section-height);
  overflow: auto;
}

.items {
  position: relative;
}

.options {
  background: var(--sidebar-options-background-color);
}

.option {
  color: var(--sidebar-option-color);
  font-size: var(--sidebar-option-font-size);
  list-style: none;
}

.collapsed {
  width: var(--sidebar-collapsed-width);

  & img {
    display: none;
  }

  & header {
    justify-content: center;
  }

  & header svg {
    color: var(--sidebar-collapsed-header-icon-color);
  }

  & .text span,
  & .link span {
    display: none;
  }

  & .text,
  & .link {
    text-align: center;
  }

  & .text svg,
  & .link svg {
    margin: var(--sidebar-collapsed-text-link-margin);
  }

  & .menu svg {
    width: var(--sidebar-collapsed-icon-width);
    height: var(--sidebar-collapsed-icon-height);
  }
}
