@import "../colors.css";
@import "./properties.css";

@import "./sidebar-header.css";

.sidebar,
.sidebar * {
  box-sizing: border-box;
}

.sidebar {
  background-color: var(--sidebar-background-color);
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: var(--sidebar-width);
}

.section {
  height: var(--sidebar-section-height);
  overflow: auto;
}

.content {
  display: flex;
  justify-content: center;
  padding-bottom: var(--sidebar-switch-container-padding-bottom);
  padding-top: var(--sidebar-switch-container-padding-top);
}

.items {
  position: relative;
}

.items ul {
  margin-top: var(--sidebar-items-list-margin);
  padding: var(--sidebar-items-list-padding);
}

.item {
  border: var(--sidebar-item-border);
  color: var(--sidebar-item-color);
  cursor: pointer;
  font-size: var(--sidebar-item-font-size);
  list-style: none;
  outline: none;
}

.item svg {
  margin-right: var(--sidebar-item-icon-margin-right);
}

.item:hover {
  background-color: var(--sidebar-item-hover-background-color);
  border-bottom-color: var(--sidebar-item-hover-border-bottom-color);
  border-top-color: var(--sidebar-item-hover-border-top-color);
  color: var(--sidebar-item-hover-color);
}

.itemSelected {
  background-color: var(--sidebar-item-selected-background-color);
  border-bottom-color: var(--sidebar-item-selected-border-bottom-color);
  border-top-color: var(--sidebar-item-selected-border-top-color);
  color: var(--sidebar-item-selected-color);
}

.link,
.text {
  color: var(--sidebar-text-link-color);
  display: block;
  margin: var(--sidebar-text-link-margin);
  padding: var(--sidebar-text-link-padding);
  outline: none;

  & span {
    display: inline-block;
    vertical-align: middle;
  }

  & svg {
    width: var(--sidebar-text-link-icon-width);
    height: var(--sidebar-text-link-icon-height);
  }
}

.item > .link,
.item > .text {
  padding-bottom: var(--sidebar-item-text-link-padding-bottom);
  padding-top: var(--sidebar-item-text-link-padding-top);
}

.link:hover {
  text-decoration: none;
}

.options {
  background: var(--sidebar-options-background-color);
}

.option {
  color: var(--sidebar-option-color);
  font-size: var(--sidebar-option-font-size);
  list-style: none;
}

.collapsed {
  width: var(--sidebar-collapsed-width);

  & img {
    display: none;
  }

  & header {
    justify-content: center;
  }

  & header svg {
    color: var(--sidebar-collapsed-header-icon-color);
  }

  & .text span,
  & .link span {
    display: none;
  }

  & .text,
  & .link {
    text-align: center;
  }

  & .text svg,
  & .link svg {
    margin: var(--sidebar-collapsed-text-link-margin);
  }

  & .menu svg {
    width: var(--sidebar-collapsed-icon-width);
    height: var(--sidebar-collapsed-icon-height);
  }
}

.selectedEnvironment {
  padding-bottom: var(--sidebar-selected-environment-padding-bottom);
  padding-top: var(--sidebar-selected-environment-padding-top);
  text-align: center;
}

.info {
  & .title,
  & .toggle {
    padding-left: var(--sidebar-info-toggle-padding-left);
    padding-right: var(--sidebar-info-toggle-padding-right);
  }
}

.title {
  color: var(--sidebar-title-color);
  font-size: var(--sidebar-title-font-size);
  line-height: var(--sidebar-title-line-height);
  margin: var(--sidebar-title-margin);
}

.toggle {
  color: var(--sidebar-toggle-color);
  cursor: pointer;
  font-size: var(--sidebar-toggle-font-size);
  margin-bottom: var(--sidebar-toggle-margin-bottom);
  margin-top: var(--sidebar-toggle-margin-top);
  outline: none;
  text-transform: var(--sidebar-toggle-text-transform);
  user-select: none;

  & p {
    margin: var(--sidebar-toggle-paragraph-margin);
  }
}

.infoOptions {
  border-bottom: var(--sidebar-info-options-border-bottom);

  & ul {
    margin: var(--sidebar-info-options-list-margin);
    padding: var(--sidebar-info-options-list-padding);
    margin-top: var(--sidebar-info-options-list-margin-top);
  }

  & li {
    border-top: var(--sidebar-info-options-list-item-border-top);
    list-style: none;
    padding: var(--sidebar-info-options-list-item-padding);
  }

  & p {
    color: var(--color-white);
    font-size: var(--sidebar-info-options-font-size);
    margin: var(--sidebar-info-options-maring);
    text-transform: var(--sidebar-info-options-text-transform);
  }

  & p:last-child {
    font-size: var(--sidebar-info-options-last-child-font-size);
    margin-bottom: var(--sidebar-info-options-last-child-margin-bottom);
    margin-top: var(--sidebar-info-options-last-child-margin-top);
  }

  & small {
    font-size: var(--sidebar-info-options-small-font-size);
  }
}

.showInfos {
  background-color: var(--sidebar-showinfo-background-color);
}
